rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isMasterAdmin() {
      return request.auth != null &&
        request.auth.token.role == 'master-admin';
    }

    match /products/{productId}/{fileName} {
      allow read: if true;
      allow write: if isMasterAdmin();
    }

    match /homepage/{allPaths=**} {
      allow read: if true;
      allow write: if isMasterAdmin();
    }
  }
}
